<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.mapper.AdminMapper">
    <select id="findByUsername" resultType="com.travel.common.entity.AdminEntity">
        select * from admin_info where username=#{username}
    </select>
    <insert id="register" parameterType="com.travel.common.entity.AdminEntity">
        insert into admin_info (admin_id,username,password,salt,last_ip) values (#{userId},#{username},#{password},#{salt},#{lastIp})
    </insert>
    <select id="getPageCount" resultType="int">
        select count(*) from admin_info
    </select>
    <select id="doFindPageObjects" resultType="com.travel.common.entity.UserEntity">
        select * from user_info order by id
    </select>
    <update id="doValidById">
        update user_info set ifuse=#{valid} where user_id=#{userId}
    </update>

</mapper>