<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.mapper.FoodMapper">
    <select id="getPageCount"
            resultType="int">
        select count(
                       *)
        from food_info;
    </select>
    <select id="doFindPageObjects"
            resultType="com.travel.common.entity.FoodEntity">
        select hi.id,
               hi.food_id,
               ci.city_name,
               si.scenery_name,
               hi.food_name,
               hi.food_pic,
               hi.food_price,
               hi.food_desc,
               hi.create_time,
               hi.modified_time
        from food_info hi
                 left join scenery_info si
                           on hi.scenery_id =
                              si.scenery_id
                 left join city_info ci
                           on si.city_id =
                              ci.city_id

    </select>
    <select id="doFindObjectById"
            resultType="com.travel.common.entity.FoodEntity">
        select hi.id,
               hi.food_id,
               ci.city_name,
               si.scenery_name,
               hi.food_name,
               hi.food_pic,
               hi.food_price,
               hi.food_desc,
               hi.create_time,
               hi.modified_time
        from food_info hi
                 left join scenery_info si
                           on hi.scenery_id =
                              si.scenery_id
                 left join city_info ci
                           on si.city_id =
                              ci.city_id
        where hi.food_id =
              #{id}
    </select>
    <insert id="doSaveObject"
            parameterType="com.travel.common.entity.FoodEntity">
        insert into food_info (food_id,
                                scenery_id,
                                food_name,
                                food_price,
                                food_pic,
                                food_desc)
        values (#{foodId},
                #{sceneryId},
                #{foodName},
                #{foodPrice},
                #{foodPic},
                #{foodDesc})
    </insert>

    <select id="getSceneryOptions"
            resultType="java.lang.String">
        select scenery_name
        from scenery_info si
        where si.city_id =
              (select city_id
               from city_info ci
               where city_name =
                     #{cityName})
    </select>

    <select id="getSceneryId"
            resultType="java.lang.String">
        select scenery_id
        from scenery_info
        where scenery_name =
              #{sceneryName}
    </select>

    <delete id="doDeleteObject"
            parameterType="java.lang.String">
        delete
        from food_info
        where food_id =
              #{foodId}
    </delete>

    <update id="doUpdateObject"
            parameterType="com.travel.common.entity.FoodEntity">
        update food_info
        <trim prefix="set" suffixOverrides=",">
        <if test="sceneryId != null">scenery_id=#{sceneryId},</if>
        <if test="foodName != null">food_name=#{foodName},</if>
        <if test="foodDesc != null">food_desc=#{foodDesc},</if>
        <if test="foodPrice != null">food_price=#{foodPrice},</if>
        <if test="foodPic != null">food_pic=#{foodPic},</if>
        </trim>
        where food_id =
        <if test="foodId != null">#{foodId}</if>
    </update>

</mapper>