<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.mapper.OrderMapper">

    <insert id="createOrder">
        insert into order_info (order_id,user_id, order_type, product_id, order_amount, order_guest, order_tel) VALUES
        (#{orderId},#{userId},#{orderType},#{productId},#{orderAmount},#{guest},#{tel})
    </insert>
</mapper>